<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787208410857-0upn1fbf7utovh35fcghmtlfvf0ogsuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787208410857-0upn1fbf7utovh35fcghmtlfvf0ogsuo</string>
	<key>API_KEY</key>
	<string>AIzaSyCUdSYzZI-BBXi7ZX_4iZTXfrObsF4NRGA</string>
	<key>GCM_SENDER_ID</key>
	<string>787208410857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeynepuzunsoy.Kitabim</string>
	<key>PROJECT_ID</key>
	<string>sahaf-26c10</string>
	<key>STORAGE_BUCKET</key>
	<string>sahaf-26c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787208410857:ios:8d494b4c8fce9aa2d0c278</string>
</dict>
</plist>